/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-oct-2015, 19:11:53
    Author     : Aitor
*/

body{text-align: center;}

h1{text-align: center;
   font-size: 2.5em;}

#loginButton{margin-left: 93%}

a{
	color: blue;
	font-size: 1.5em;
	text-align:center;
	margin-right: 5px;
 }
 
 .tituloPost{color:red;
            font-style:oblique;
            font-weight: bold;
            font-size: 1.2em;}
 
 img {
	border-width: 3px;
	border-style: solid;
	padding: 4px;
	margin: 0px 10px;
	}
        
.error{text-align:left;
       color:red;}

.table{
	margin-left: 350px;
	margin-right: 350px;
        border-spacing: 10px;
	}
        
.cabeceraTabla{font-style:oblique;
                font-weight: bold;
                color: red;}

h4{color:green;}

#izquierda{text-align:left;}

td{white-space: nowrap;}

#anadirLink{
        color: black;
	font-size: 1em;
	text-align:center;
        border-width: 1px;
	border-style: solid;
	padding: 4px;
        background-color: #D8D8D8;
	}
       
